<ng-container>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Конвертер валют</a>
      <ng-template ngbNavContent>
        <app-currency-converter></app-currency-converter>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Конвертер расстояний</a>
      <ng-template ngbNavContent>
        <app-distance-converter></app-distance-converter>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-container>
